// sidebar
$menuText: #262B39;
$menuTextHover: #2462F9;
$menuActiveText: #2462F9;
$subMenuActiveText: #2462F9; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #fff;
$menuHover: #E9EFFE;

$subMenuBg: #fff;
$subMenuHover: #E9EFFE;

$sideBarWidth: 200px;

$headerHeight: 55px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  headerheight: $headerHeight;
}
